<section class="max-w-4xl mx-auto p-6 bg-white">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-5 text-center">
        Política de Privacidad
    </h1>
    <p class="text-gray-700 dark:text-gray-300 text-justify">
        Viajes Eviterno valora a sus usuarios y está comprometida a proteger su privacidad y ha desarrollado esta política de privacidad que describe las políticas y prácticas de Viajes Eviterno en lo que se refiere a la recolección, uso y divulgación de información personal recopilada. Al visitar, utilizar y/o registrarse en este sitio web el usuario acepta las prácticas que se detallan a continuación. Esta Política contiene las prácticas de privacidad del Sitio Web operado por Viajes Eviterno, en cumplimiento de la Ley de Protección de Datos Personales en Perú Ley Nº 29.733 y sus normas complementarias (en adelante, “LPDP”).
    </p>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        1. Información Recopilada
    </h2>
    <p class="text-gray-700 dark:text-gray-300 text-justify">
        Viajes Eviterno recibe y almacena cualquier información que los usuarios proporcionen al navegar por el Sitio Web de Viajes Eviterno, al utilizar nuestros servicios en línea, ya sea al proporcionarlos de manera telefónica en nuestro centro de atención, al participar en promociones y ofertas, al registrarse como usuario, vía correo electrónico, información publicada en los foros, grupos de chat o comentarios mediante los cuales Usted interactúe en el Sitio Web, o de cualquier forma cuando contrata con Nosotros algún producto o servicio. La información recopilada (en adelante la “Información Personal”) incluye –entre otros- nombre y apellido, dirección postal, nacionalidad, número telefónico, dirección de correo electrónico, y También podremos solicitar información sobre programas de fidelidad y viajero frecuente.
        Usted podrá elegir no darnos información, pero en general se requiere cierta información.
        Adicionalmente, Viajes Eviterno podrá grabar o controlar para propósitos de control de calidad
        y de formación del personal, las llamadas realizadas a nuestro centro de atención al cliente. Las
        grabaciones de las llamadas se retendrán durante el tiempo que sea razonablemente necesario
        y posteriormente se borrarán, a entera discreción de Viajes Eviterno.
    </p>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        2. Autorización de Registro y Tratamiento de la Información Personal
    </h2>
    <p class="text-gray-700 dark:text-gray-300 text-justify">
        Al visitar, utilizar y/o registrarse en el Sitio Web y/o en la Aplicación de Viajes Eviterno Usted, autoriza expresamente a Viajes Eviterno a registrar y tratar su Información Personal para –entre otros- los siguientes fines: llevar a cabo las transacciones que usted haya iniciado; ofrecerle productos y servicios; remitirle confirmación y actualizaciones sobre su viaje; procesamiento de facturas; responder a sus preguntas y comentarios; contactarnos con Usted para propósitos de servicio al cliente, realizar encuestas, estadísticas o análisis sobre hábitos de consumo o preferencias, notificarle por correo electrónico las ofertas especiales y los productos y servicios relacionados con viajes que podrían serle de interés salvo que usted no lo desee, se dará el tratamiento correspondiente según lo prescripto por el art. 28 de la Ley de Protección de Datos Personales.
    </p>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        3. Información Pública
    </h2>
    <p class="text-gray-700 dark:text-gray-300 text-justify">
        Tenga presente que cuando coloca información en un área pública de este Sitio Web (incluido sin limitar: avisos, grupos de chat, álbumes de fotografías electrónicos y comentarios sobre los productos y servicios), la está poniendo a disposición de otros miembros, usuarios del Sitio Web y al público en general; lo cual queda fuera del ámbito de control de Viajes Eviterno. Por favor, recuerde lo anterior y sea cuidadoso con la información que decide divulgar.
    </p>
</section>