<section class="max-w-4xl mx-auto p-6 bg-white">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-5 text-center">
        Política de Privacidad
    </h1>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        1. Información Recopilada
    </h2>
    <p class="text-gray-700 dark:text-gray-300">
        Viajes Eviterno recibe y almacena cualquier información que los usuarios proporcionen al
        navegar por el sitio web, utilizar nuestros servicios en línea o comunicarse con nosotros. La
        información recopilada incluye, entre otros, nombre, dirección, teléfono, correo electrónico y
        datos de programas de fidelidad.
    </p>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        2. Autorización de Registro y Tratamiento de la Información Personal
    </h2>
    <p class="text-gray-700 dark:text-gray-300">
        Al registrarse y utilizar el sitio web, usted autoriza expresamente a Viajes Eviterno a tratar su
        información personal para procesar transacciones, ofrecer productos y servicios, contactarle
        para soporte y realizar encuestas sobre hábitos de consumo.
    </p>
    
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        3. Información Pública
    </h2>
    <p class="text-gray-700 dark:text-gray-300">
        Cuando publica información en áreas públicas del sitio (como foros o comentarios), esta queda
        disponible para otros usuarios y el público en general, quedando fuera del control de Viajes
        Eviterno. Se recomienda precaución al compartir información.
    </p>
</section>