<section class="max-w-4xl mx-auto p-6 bg-white">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-5 text-center">
        Términos y Condiciones
    </h1>
    
    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-3">
        <li>
            Tarifas sujetas a disponibilidad al momento de pedir la reserva.
        </li>
        <li>
            Tarifas sujetas a variación de acuerdo a condiciones climatológicas y facilidades operativas.
        </li>
        <li>
            VIAJES EVITERNO no se responsabiliza de posibles demoras en los traslados derivados de cortes de carreteras ocasionados por factores meteorológicos, sociales o de cualquier otra índole no atribuibles, ni de la pérdida de enlaces a vuelos o transporte terrestre que se deriven de estos retrasos que no sea responsabilidad competente de Viajes Eviterno.
        </li>
        <li>
            Es responsabilidad absoluta del pasajero obtener todos los documentos de viaje necesarios antes de viajar.
        </li>
        <li>
            Los Pasaportes deben tener una vigencia mínima de 6 meses desde el día de partida. Visas, Vacunas y cualquier otro documento requerido para el viaje deberá consultarlo directamente con los Consulados o Embajadas de los países que visitara antes de iniciar el viaje. <strong>Viajes Eviterno</strong> no se hará responsable por ninguna pérdida, gasto, costo, daño, lesión o pérdida de goce sufrido como resultado de la cancelación de su viaje por no haber cumplido con tales requisitos.
        </li>
        <li>
            Precios están sujetos a modificaciones sin previo aviso, por disponibilidad de servicios.
        </li>
        <li>
            Los paseos y excursiones pueden reprogramarse o anularse debido a disposiciones internas y/o factores no controlables por la empresa, como condiciones meteorológicas, cortes de carreteras, etc.
        </li>
        <li>
            No incluye gastos y servicios no especificados en cada programa.
        </li>
        <li>
            La debida documentación de los pasajeros queda bajo la responsabilidad del mismo. Para ingresar en los hoteles, todos los niños o jóvenes menores de 18 años deberán presentar documento de identificación mismo que estén con los padres.
        </li>
        <li>
            VIAJES EVITERNO no asume, de ningún modo, la responsabilidad sobre pasajeros menores de edad. Al inscribir a un menor en un tour, los padres o personas a cuyo cargo se encuentra el mismo.
        </li>
        <li>
            Si el cliente hizo sus propios arreglos para quedarse en un destino antes o después de su itinerario arreglado con nosotros, la estadía estará bajo su responsabilidad en lo que respecta a cualquier gasto tales como hotel , traslados entre el hotel y aeropuerto, etc.
        </li>
        <li>
            Hotel 
            <strong class="font-semibold text-gray-900 dark:text-white">
                check-in/check-out:
            </strong> 
            De acuerdo a las políticas generales de los hoteles, las habitaciones no estarán disponibles antes de la hora de entrada(check-in) 15:00 horas y deben de ser desocupadas (check out) antes de las 11:00 horas. Las políticas pueden variar dependiendo de cada hotel. Chequear por favor las instrucciones específicas del tour o servicio escritas en los vouchers.
        </li>
        <li>
            <strong class="font-semibold text-gray-900 dark:text-white">
                La aerolínea, el aeropuerto, los impuestos del gobierno y adicionales:
            </strong> 
            Cualquier impuesto doméstico e internacional de salida o llegada, los cargos de seguridad, y otros tipos de impuestos dados por las líneas aéreas, los aeropuertos, los gobiernos, etc. no se incluyen en nuestros precios.
        </li>
        <li>
            <strong class="font-semibold text-gray-900 dark:text-white">
                BOLETOS AEREOS:
            </strong> 
            El valor de la tarifa aérea no se garantiza hasta que el boleto este emitido. El tiquete aéreo está sujeto a las regulaciones y restricciones de cada aerolínea. Incluyendo pero no limitado a cargos por cambio de boleto, ruta, cancelación, no show y cualquier otra penalidad que la aerolínea considere necesaria.
        </li>
    </ul>
  
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        Pagos y Anulaciones
    </h2>
  
    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-3">
        <li>
            Anulaciones o cancelaciones antes de los 30 días previos al inicio del viaje se penalizará con gastos administrativos y de acuerdo a las penalidades impuestos por cada proveedor.
        </li>
        <li>
            Anulaciones o cancelaciones dentro de los 30 días previos al inicio del viaje se penalizará al 100% del pago total.
        </li>
        <li>
            No reembolsable, no endosable, ni transferible. No se permiten cambios una vez realizado el prepago.
        </li>
    </ul>
</section>