<section class="max-w-4xl mx-auto p-6 bg-white">
    <h1 class="text-3xl font-bold text-gray-800 dark:text-white mb-5 text-center">
        Términos y Condiciones
    </h1>
    
    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-3">
        <li>
            Tarifas sujetas a disponibilidad al momento de pedir la reserva.
        </li>
        <li>
            Tarifas sujetas a variación de acuerdo a condiciones climatológicas y facilidades operativas.
        </li>
        <li>
            VIAJES EVITERNO no se responsabiliza de posibles demoras en los traslados derivados de cortes de carreteras ocasionados por factores meteorológicos, sociales o de cualquier otra índole.
        </li>
        <li>
            Es responsabilidad absoluta del pasajero obtener todos los documentos de viaje necesarios antes de viajar.
        </li>
        <li>
            Los Pasaportes deben tener una vigencia mínima de 6 meses desde el día de partida. Visas, vacunas y cualquier otro documento requerido para el viaje deberá consultarlo con los Consulados o Embajadas de los países a visitar.
        </li>
        <li>
            Precios sujetos a modificaciones sin previo aviso, por disponibilidad de servicios.
        </li>
        <li>
            Los paseos y excursiones pueden reprogramarse o anularse por condiciones meteorológicas o cortes de carreteras.
        </li>
        <li>
            No incluye gastos y servicios no especificados en cada programa.
        </li>
        <li>
            La documentación de los pasajeros queda bajo su responsabilidad. Para ingresar a hoteles, menores de 18 años deben presentar identificación.
        </li>
        <li>
            VIAJES EVITERNO no asume responsabilidad sobre pasajeros menores de edad. Al inscribir a un menor en un tour, los padres son responsables.
        </li>
        <li>
            Si el cliente hizo arreglos independientes para su estadía, la responsabilidad de costos como hotel o traslados es suya.
        </li>
        <li>
            <strong class="font-semibold text-gray-900 dark:text-white">
                Hotel check-in/check-out:
            </strong> 
            El check-in es a las 15:00 horas y el check-out antes de las 11:00 horas, según políticas del hotel.
        </li>
        <li>
            <strong class="font-semibold text-gray-900 dark:text-white">
                Aerolínea, impuestos y cargos adicionales:
            </strong> 
            Impuestos de salida/llegada y cargos de aerolínea no están incluidos en nuestros precios.
        </li>
        <li>
            <strong class="font-semibold text-gray-900 dark:text-white">
                Boletos Aéreos:
            </strong> 
            Tarifas no garantizadas hasta emisión del boleto. Sujeto a restricciones y penalidades por cambios o cancelaciones.
        </li>
    </ul>
  
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-300 mt-6 mb-3">
        Pagos y Anulaciones
    </h2>
  
    <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 space-y-3">
        <li>
            Anulaciones antes de 30 días previos al viaje tendrán penalidad según cada proveedor.
        </li>
        <li>
            Anulaciones dentro de los 30 días previos al viaje tendrán penalización del 100%.
        </li>
        <li>
            No reembolsable, no endosable, ni transferible. No se permiten cambios tras el prepago.
        </li>
    </ul>
</section>